* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #2a2a2a;
  line-height: 1.4;
  font-size: 16pt;
  font-family: "Chiron Sung HK", Times New Roman, serif;
}

body {
  margin: auto;
}

header {
  width: 100vw;
  height: auto;
  background-color: #FFFBFA;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
  color: #2a2a2a;
}

main {
  width: 80vw;
}

h1 {
  font-size: 6rem;
  font-family: "Chiron Sung HK", Times New Roman, serif;
  margin: -3rem 1rem 1rem 1rem;
}

.background-image {
  background-image: url("https://media.architecturaldigest.com/photos/5efe5b65a45de055a3e2dea9/16:9/w_2560%2Cc_limit/AD0720_THEN_AND_NOW_BEATON_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: 3rem 0;
}

h3 {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  font-weight: 700;
}

h2{
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin: 1rem;
  font-weight: 700;
}

.intro {
  font-size: 3rem;
  margin: 2rem 1rem 1rem 1rem;
}

.main-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr));
}





